.color{
    color: #999999;
}
.header{
    padding: 1rem 0 3rem;
}

.logo{
    color: black;
    font-size: 3rem;
    text-decoration: none;
}

.navlist{
    display: flex;
    list-style-type: none;
    justify-content: center;
}
.navitem{
    color: #999999;
    font-size: 1.5rem;
    margin-right: 2rem;
    text-decoration: none;
}
.navitem:hover{
    color: #666666;
}

.active-nav-item{
    color: #333333;
}